/* this is for Yang Zhenhua..... */

* {
    box-sizing: border-box;
}

/* css for body*/

body {
    max-width: 1280px;
    padding: 10px;
    background: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-attachment: fixed;
}
.head{
    text-align: center;
}
/* this is for Yang Zhenhua..... */


.container {
    min-height: 500px;
}

/* end css for container*/

/* css for header */

header {
    width: 100%;
    clear: both;
    min-height: 120px;
}


nav {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    background: #ffffff99;
}



nav a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-size: 35px;
    color: #081F41;
    font-family: 'Dancing Script', cursive;
}
    .navigation-menu-button img {

        display: none;

    }
li {
    display: inline-block;
    text-decoration: none;
}

.fancybox {
    width: 100%;
    float: left;
    border: 10px solid black;
    border-radius: 10px;
    min-height: 500px;
    padding: 9px;
    background: #ffffff99
}

.fancyimg {
    width: 25%;
    height:25%;
    display: inline-block;
}

@media screen and (max-width: 480px) {
    nav {
        background: none;
    }
    .logo {
        width: 260px;
        height: 120px;
        float: left;
    }
    nav.sitenavigation {
        width: 40;
        height: 40;

    }
    nav.sitenavigation ul {
        font-size: 2px;
        display: none;
        background: black;
        opacity: 0.7;
        z-index: 99;
        position: relative;
        top: 40px;

    }
    nav.sitenavigation a:link {
        text-decoration: none;
        color: white;
    }
    nav.sitenavigation a:visited {
        color: #bdccd4;
    }
    nav.sitenavigation a:hover,
    nav.sitenavigation a:focus {
        color: black;
        background-color: white;
    }
    nav.sitenavigation a:active {
        position: relative;
        top: 1px;
        left: 1px;
    }


    nav.sitenavigation:hover ul {

        display: block;
    }

    nav.sitenavigation:hover li a {

        display: block;
        padding: 8px 30px;
    }
    .navigation-menu-button img {
        float: left;
        width: 40px;
        padding: 0;
        display: block;

    }
